.cart-page{
    margin-block: 96px 129px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .cart-content{
        min-width: $cart-content__width;
        &-items{
            width: 100%;
        }
        &__item{
            position:relative;
            display: flex;
            justify-content: space-between;
            box-shadow: 5px 10px 20px $shadow-color;
            &:first-of-type{
                margin-bottom: 40px;
            }
            &-hover{
                display: none;
                position:absolute;
                top:0;
                left:0;
                background: $offers-cover__color;
                width: 100%;
                height: 100%;
            }
            &-info{
                margin-top: 22px;
                width: 262px;
                &__header{
                    margin-bottom: 42px;
                    text-transform: uppercase;
                    @include font(normal, 24px, 29px, normal);
                    color: $dark-color;
                }
                &__details{
                    text-transform: capitalize;
                    @include font(normal, 22px, 32px, normal);
                    color: darken($secondary-grey__color, 9%);
                    &-price{
                        color: $highlight-pink__color;
                    }
                    &-item{
                        color: $secondary-grey__color;
                    }
                    &>input{
                        width: 44px;
                        @include font(normal, 18px, 22px, normal);
                        text-align: center;
                        padding-left: 10px;
                        color: $secondary-grey__color;
                        border: 1px solid $catalog-page__and__checkbox-bd__color;
                    }
                }
            }
            &-close{
                margin-top: 28px;
                margin-right: 22px;
                width: 18px;
                height: 18px;
                &:hover ~ .cart-content__item-hover{
                    display: block;
                }
            }
        }
        &__buttons{
            margin-top: 73px;
            display: flex;
            justify-content: space-between;
        }
        
    }
    .cart-info{
        margin-top: 21px;
        &__adress{
            display: flex;
            flex-direction: column;
            &-header{
                margin-bottom: 21px;
                text-transform: uppercase;
                @include font(300, 16px, 19px, normal);
                color: $dark-color;
            }
            &>input{
                height: 45px;
                margin-bottom: 21px;
                padding-left:17px;
                text-transform: capitalize;
                @include font(300, 13px, 16px, normal);
                border: 1px solid lighten($secondary-grey__color, 21%);
            }
            &>input::placeholder{
                color: $dark-color;
            }
            &>input:first-of-type::placeholder{
                color: lighten($secondary-grey__color, 26%);
            }
        }

        &__checkout{
            margin-top: 58px;
            padding: 40px;
            width: $block-width;
            background-color: lighten($secondary-grey__color, 52%);
            text-align: right;
            &-sub{
                text-transform: uppercase;
                @include font(normal, 11px, 13px, normal);
                color: darken($secondary-grey__color, 14%);
            }
            &-header{
                text-transform: uppercase;
                @include font(300, 16px, 19px, normal);
                color: $dark-color;
            }
            &-grand{
                font-weight: 700;
                color: $highlight-pink__color;
            }
            &-hline{
                margin-block: 21px 17px;
                width:275px;
                height: 1px;
                display: inline-block;
                background-color: lighten($secondary-grey__color, 45.5%);
            }
            //бэм
            &-button{
                width:275px;
                height: 50px;
                text-transform: uppercase;
                @include font(300, 16px, 50px, normal);
                color: $button-text__color;
                background-color: $highlight-pink__color;
                border: 1px solid $highlight-pink__color;
                transition: color 0.2s linear, background-color 0.2s linear;
               &:hover{
                background-color: lighten($secondary-grey__color, 52%);
                color: $highlight-pink__color;
               }
                
            }
        }
    }
}