.filters{
    margin-top: 50px;
    .filter{
        width: $block-width;
        margin-left: 15px;
        margin-right: 30px;
        text-transform: uppercase;
        @include font(600, 14px, 17px, normal);
        left:-15px;
        padding-left: 15px;
        &-summary{
            list-style-type: none;
            transition: color 0.2s linear;
        }
        &-options{
            width:100%;
            position: absolute;
            left:0;
            padding-left: 15px;
            list-style-type: none;
            background-color: $navigation-bg__color;
            box-shadow: 5px 20px 20px $shadow-color;
        }
        &-option{
            margin-top: 18px;
            &:last-of-type{
                margin-bottom: 18px;
            }
            &>span{
                display: inline-block;
                height:37px;
                width: 326px;
                @include font(normal, 14px, 37px, normal);
                padding-left: 11px;
                border-left: 5px solid desaturate(darken($highlight-pink__color, 4%), 1%);
                border-bottom: 1px solid lighten($secondary-grey__color, 49%);
                transition: color 0.2s linear;
            }
            &:hover span{
                color: desaturate(darken($highlight-pink__color, 4%), 1%);
            }
            &:hover .filter-items{
                display: block;
            }
        }
        &-items{
            list-style-type: none;
            display:none;
            @include font(normal, 14px, 17px, normal);
            text-transform: capitalize;
            margin-left: 34px;
            &>li:first-of-type{
                margin-top: 24px;
            }
        }
        &-item{
            margin-top: 11px;
            &>a{
                text-decoration: none;
                color: $secondary-grey__color;
                transition: color 0.2s linear;
                &:hover{
                    color:desaturate(darken($highlight-pink__color, 4%), 1%);
                }
            }
        }
        &:hover .filter-summary, &[open] .filter-summary{
            color: desaturate(darken($highlight-pink__color, 4%), 1%);
        }
        &:hover .filter-icon, &[open] .filter-icon{
            filter: invert(60%) sepia(51%) saturate(3302%) hue-rotate(313deg) brightness(91%) contrast(107%);
        }
        &[open]{
            box-shadow: 5px 15px 20px $shadow-color;
        }    
        &-icon{
            margin-left: 12px;
            transition: filter 0.2s linear;
        }
    }

    .trending{
        width: 120px;
        &>ul{
            width: 150px;
        }
    }
    .size{
        width:40px;
        &>ul{
            width: 80px;
        }
    }
    .price{
        &>ul{
            width: 120px;
        }
    }

}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    height:43px;
    width:283px;
    border: 1px solid lighten($secondary-grey__color, 49%);
}
[class^="catalog-page_"]{
    margin-right: 18px;
    text-decoration: none;
    @include font(300, 16px, 19px, normal);
    color: lighten($secondary-grey__color, 49%);
    transition: color 0.2s linear;
}
.catalog-page_1{
    color: desaturate(darken($highlight-pink__color, 4%), 1%);
}
[class^="catalog-page_"]:hover{
    color: lighten(saturate($highlight-pink__color, 17%), 1%);
}
.arrow{
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    transition: border-color 0.2s linear;
    &:hover{
        border-color: lighten($arrows-bd__color, 60%);
    }
}
.arrow-previous{
    margin-right: 18px;
    border-bottom: 3px solid $arrows-bd__color;
    border-left: 3px solid $arrows-bd__color;
    &:hover ~ .catalog-page_6{
        color: desaturate(darken($highlight-pink__color, 4%), 1%);
    }
    &:hover ~ .catalog-page_1{
        color: lighten($secondary-grey__color, 49%);
    }    
}
.arrow-next{
    border-top: 3px solid $arrows-bd__color;
    border-right: 3px solid $arrows-bd__color;
    &:hover ~ .catalog-page_2{
        color: desaturate(darken($highlight-pink__color, 4%), 1%);
    }
    &:hover + .catalog-page_1{
        color: lighten($secondary-grey__color, 49%);
    }
    order:8;    
}

