.checkout{
    margin-block: 4.28vw 6.42vw;
    display: flex;
    .registration, .loyalty{
        margin-inline: auto;
    }
    .registration{
        width: 31.58%;
        &-heading{
            margin-bottom: 1.4vw;
            text-transform: capitalize;
            @include font(300, 1.07vw, 118.75%, normal);
            color: $dark-color;
            &:last-of-type{
                margin-top: 2.34vw;
            }
        }
        //Element
        &__input{
            display: block;
            margin-bottom: 1.4vw;
            padding-left: 4.72%;
            &:last-of-type{
                    margin-bottom: 1.07vw;
                }
        }
        &-radio{
            &+label{
                text-transform: capitalize;
                margin-right: 5.56%;
                @include font(300, 0.74vw, 118.18%, normal);
            }
        }
        &-passwordParametersText{
            @include font(300, 0.87vw, 123.08%, normal);
            color: lighten($secondary-grey__color, 26%);
        }
        //Element
        &__button{
            margin-top: 2.67vw;
            .registration-button__img{
                width: 1.09vw;
                margin-left: 1.34vw;
                transition: filter 0.2s linear;
            }
            &:hover .registration-button__img{
                filter: invert(60%) sepia(51%) saturate(3302%) hue-rotate(313deg) brightness(91%) contrast(107%);
            }
        }
    }
    .loyalty{
        margin-left: 11.23%;
        width: 57.02%;
        &-heading, &-text, &-list{
            margin-bottom: 1.4vw;
            @include font(300, 1.6vw, 120.83%, normal);
        }
        &-heading{
            text-transform: uppercase;
        }
        &-item{
            margin-left: 0;
            margin-bottom: 1.07vw;
            padding-left: 7%;
            list-style: none;
            background-image: url("../image/list-img.svg");
            background-repeat: no-repeat;
            background-position: left center;
            background-size: 1.34vw;
            &:last-of-type{
                margin-bottom: 0;
            }
            // &::marker{
            //     width: 1.34vw; 
            // }
        }
    }
}