.introduction{
    background-color: $introduction-bg__color;
    &_{
        display: flex;
        align-items: center;
    }
    &-intro{
        display: flex;
    }
    &-text{
        @include font(700, 32px, 38px, normal);
        color: $dark-color;
        text-transform: uppercase;
        &__header{
            @include font(900, 48px, 58px, normal);
        }
        &__fashion{
            color: $highlight-pink__color;
        }
    }
    .line{
        width: 12px;
        background-color: $highlight-pink__color;
        margin-right: 16px;
    }
}

// special offers
.offers{
    padding-top: 65px;
    text-align: center;
    text-transform: uppercase;
    @include font(400, 16px, 19px, normal);
    &-part1{
        display: flex; //a{display:block;}
        justify-content: space-between;
        &>a{
            height: 260px;
            width: $block-width;
            position: relative;
            text-decoration: none;
            color:$offers-text__color;
            transition: transform 0.3s linear;
            &>p{
                position:relative;
                top:40%;
                z-index: 2;
            }
            &:hover{
                transform: scale(1.1);
                z-index: 1;
            }
        }
    }
    &-part2{
        margin-top: 30px;
        &>a{
            height: 180px;
            width: 100%;
            display: block;
            position: relative;
            text-decoration: none;
            color:$offers-text__color;
            transition: transform 0.3s linear;
            &>p{
                position:relative;
                top:40%;
                z-index: 2;
            }
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    .cover{
        position: absolute;
        background: $offers-cover__color;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    &-women{
        background: url("../image/offers-women.png") no-repeat center center;
        background-size: cover;
    }
    &-men{
        background: url("../image/offers-men.png") no-repeat center center;
        background-size: cover;
    }
    &-kids{
        background: url("../image/offers-kids.png") no-repeat center center;
        background-size: cover;
    }
    &-accesories{
        background: url("../image/offers-accesories.png") no-repeat center center;
        background-size: cover;
    }
    &-headtext{
        @include font(700, 24px, 29px, normal);
        color: $highlight-pink__color;
    }
}

.fetured{
    display: flex;
    flex-direction: column;
    padding-top: 96px;
    &-description{
        text-align: center;
    }
    &-header{
        @include font(bold, 30px, 36px, normal);
        color: $dark-color;
    }
    &-text{
        @include font(normal, 14px, 17px, normal);
        color: lighten($secondary-grey__color, 19%);
    }
}
.items{
    //Element
    &__button{
        align-self: center;
	    display: inline-block;
    }
}