$site-width: 1140px;
$block-width: 360px;
$carousel-height:777px;
$cart-content__width: 652px;
$screen-width: 100vw;

$highlight-pink__color: #F16D7F;
$button-bd__color: #FF6A6A;
$button-hover__color: #F26376;
$catalog-page-nav-hover__color: #EF5B70;
$product-page-highlight__color: #EF5B70;
$dark-color: #222222;
$light-text__color: #FBFBFB;
$shadow-color: rgba(10, 21, 34, 0.2);
$footer-cover__color: rgba(244, 244, 244, 0.7);
$offers-cover__color: rgba(33, 22, 22, 0.7);
$checkbox-focus-sh__color: rgba(247, 121, 142, 0.25);
$carousel-controls-bg__color:rgba(42, 42, 42, 0.15);
$item-text__color: #5D5D5D;
$product-info-header__color: #4D4D4D;
$cart-quote__color:#4A4A4A;
$cart-item-details__color: #575757;
$product-info-text__color: #5E5E5E;
$secondary-grey__color: #6F6E6E;
$breadcrumbs-link__color: #636363;
$fetured-text__color: #9F9F9F;
$cart-input-country__color: #B1B1B1;
$cart-buttons-bd__color: #A4A4A4;
$cart-hline__color: #E2E2E2;
$sub-form-input__color: #E1E1E1;
$cart-checkout-bg__color: #F5F3F3;
$item-bg__color: #F8F8F8;
$catalog-head__and__checkbox-bg__color:#F8F3F4;
$catalog-page__and__checkbox-bd__color: #EBEBEB;
$introduction-bg__color: #F1E4E6;
$checkbox-checked-bd__color: #F1E4E6;
$checkbox-disabled-bg__color: #e9ecef;
$product-carousel-bg__color: #F7F7F7;
$navigation-bg__color: #FFFFFF;
$button-text__color: #FFFFFF;
$offers-text__color: #FFFFFF;
$arrows-bd__color: #000000;