//common settings
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}
.top{
    flex-grow: 1;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
body{
    font-family: Lato;
}

//header
.header{
    background-color: #222222;
    &-content{
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__left{
            display: flex;
            &>a:first-of-type{
                margin-right: 41px;
            }
            .search{
                padding-top: 5px;
            }
        }
        &__right{
            display: flex;
            &>a{
                margin-right: 33px;
            }
            &>a:last-of-type{
                margin-right: 0;
            }
        }
        &__search:hover .search{
            display: none;
        }
        &__search:hover .search-form{
            display: flex;
        }
    }
}

.search-form{
    display: none;
    .search-input{
        padding-left: 10px;
        border: 2px solid #F16D7F;
        border-radius: 5px 0 0 5px;
    }
    .search-button{
        height:40px;
        width:45px;
        background-color: #F16D7F;
        border:none;
        border-radius: 0 5px 5px 0;
    }
}
.menu-navigation{
    position:relative;
    .menu{
        position:relative;
        margin-right: 33px;
        padding-top: 5px;
    }
    .nav{
        width:232px;
        height:600px;
        display:none;
        position:absolute;
        // top: 40px;
        // left: -150px;
        background-color: #FFFFFF;
        font-size: 14px;
        line-height: 17px;
        &-header{
            text-transform: uppercase;
            font-weight: 700;
            margin:9px 0 0 33px;
        }
        &-list, &-list_{
            list-style-type: none;
        }
        &-list>li>a{
            text-decoration: none;
            text-transform: uppercase;
            color: #F16D7F;
            display: inline-block;
            margin:24px 0 0 33px;
        }
        &-list_>li>a{
            text-decoration: none;
            text-transform: capitalize;
            color: #6F6E6E;
            display: inline-block;
            margin:7px 0 7px 54px;
        }
        &-list_>li>a:last-of-type{
            margin-bottom: 0;
        }
        .close{
            align-self: flex-end;
            margin: 16px 16px 0 0;
        }
    }
    &:hover .nav{
        display:flex;
        flex-direction: column;
    }
}
    

// banner
.introduction{
    display: flex;
    align-items: center;
    background-color: #F1E4E6;
    &-intro{
        display: flex;
    }
    &-text{
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: #222222;
        text-transform: uppercase;
        &__header{
            font-weight: 900;
            font-size: 48px;
            line-height: 58px;
        }
        &__fashion{
            color: #F16D7F;
        }
    }
    .line{
        width: 12px;
        background-color: #F16D7F;
        margin-right: 16px;
    }
}

// special offers
.offers{
    margin-top: 65px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    &-part1{
        display: flex;
        justify-content: space-between;
        &>a{
            height: 260px;
            width: 360px;
            position: relative;
            text-decoration: none;
            color:#ffffff;
            &>p{
                position:relative;
                top:40%;
                z-index: 2;
            }
        }
    }
    &-part2{
        margin-top: 30px;
        &>a{
            height: 180px;
            width: 100%;
            display: block;
            position: relative;
            text-decoration: none;
            color:#ffffff;
            &>p{
                position:relative;
                top:40%;
                z-index: 2;
            }
        }
    }
    .cover{
        position: absolute;
        background: rgba(33, 22, 22, 0.7);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    &-women{
        background: url("../image/offers-women.png") no-repeat center center;
        background-size: cover;
    }
    &-men{
        background: url("../image/offers-men.png") no-repeat center center;
        background-size: cover;
    }
    &-kids{
        background: url("../image/offers-kids.png") no-repeat center center;
        background-size: cover;
    }
    &-accesories{
        background: url("../image/offers-accesories.png") no-repeat center center;
        background-size: cover;
    }
    &-headtext{
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color:#F16D7F;
    }
}

.fetured{
    display: flex;
    flex-direction: column;
    margin-top: 96px;
    &-description{
        text-align: center;
    }
    &-header{
        font-size: 30px;
        line-height: 36px;
        color: #222222;
    }
    &-text{
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
    }
    .items{
        margin-top: 49px;
        &-container{
            display: flex;
            justify-content: space-between;
            .item{
                text-decoration: none;
                width: 360px;
                background-color:#F8F8F8;
                &-text{
                    margin: 12px 16px 0 16px;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 17px;
                    color: #5D5D5D;
                }
                &-header{
                    margin: 25px 0 0 16px;
                    font-size: 13px;
                    line-height: 16px;
                    color: #000;
                }
                &-price{
                    margin: 18px 0 20px 16px;
                    font-size: 16px;
                    line-height: 19px;
                    color: #F16D7F;
                }

            }
        }
        &-container:first-of-type{
            margin-bottom: 30px;
        }
        &-container:last-of-type{
            margin-bottom: 48px;
        }
        &-button{
            align-self: center;
            text-align: center;
            display: inline-block;
            width: 211px;
            height:47px;
            text-decoration: none;
            font-size: 16px;
            line-height: 47px;
            color:#ffffff;
            background-color: #F16D7F;
            border: 1px solid #FF6A6A;
        }
        &-button:hover{
            color: #F26376;
            background-color: #FFFFFF;
        }
    }
}

.information{
    margin-top:95px;
    background-color: #222224;
    &-container{
        height: 341px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        color: #FBFBFB;
    }
    &-cell{
        max-width:300px;
    }
    &-header{
        font-size: 20px;
        line-height: 24px;
        margin-top: 20px;
    }
    &-text{
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        margin-top: 16px;
    }
}

.footer{
    &-upper{
        position: relative;
        height: 448px;
        background: url("../image/footer-upper__bg.jpg") no-repeat center center;
        background-size: cover;
        &__container{
            padding-top: 86px;
            position:relative;
            z-index: 2;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            .review{
                max-width: 360px;
                &-text{
                    margin-top: 30px;
                    font-size: 20px;
                    line-height: 24px;
                    color: #222224;
                    font-style: italic;
                }
            }
            .subscription{
                &-header{
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 40px;
                }
                &-text{
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                }
                &-form{
                    margin-top: 32px;
                    display: flex;
                    &__input{
                        width: 256px;
                        height: 50px;
                        background-color: #E1E1E1;
                        border: none;
                        border-radius: 25px 0 0 25px;
                        padding-left:22px;
                        color: #222224;
                        opacity: 0.67;
                        font-size: 14px;
                        line-height: 17px;
                    }
                    &__button{
                        width:100px;
                        background-color: #F16D7F;
                        border:none;
                        border-radius: 0 25px 25px 0;
                        text-align: center;
                        font-size: 14px;
                        line-height: 17px;
                        color:#FFFFFF;
                        // overflow: hidden;
                    }
                }
            }
        }

        .footer-cover{
            position: absolute;
            background: rgba(244, 244, 244, 0.7);
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
    }

    &-lower{
        background-color: #222224;
        &__container{
            height: 80px;
            display:flex;
            justify-content: space-between;
            align-items: center;
            .footer-lower__text{
                font-size: 16px;
                line-height: 19px;
                color: #FBFBFB;
            }
            .socialmedia{
                display: flex;
                &-link{
                   width:32px;
                   height:32px;
                   text-align: center;
                   line-height: 32px;
                   background-color:#FBFBFB;
                   margin-right: 8px; 
                   &:last-of-type{
                        margin-right: 0;
                   }
                   &:hover{
                        background-color: #F16D7F;
                   }
                   &:hover img{
                       filter:invert(100%);
                   }
                }
            }
        }
    }
}