@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

body {
  font-family: 'Lato', sans-serif;
}

.flex-container, .header-content, .information-container, .footer-upper__container, .footer-lower__container, .catalog-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  text-decoration: none;
  background-color: #F16D7F;
  color: #FFFFFF;
  border: 1px solid #ff647a;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-align: center;
}

.button:hover {
  color: #f1687a;
  background-color: #FFFFFF;
}

.button_search {
  height: 40px;
  width: 45px;
  border-radius: 0 5px 5px 0;
  -webkit-transition: color 0.2s linear, background-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear;
}

.button_subscribe {
  width: 100px;
  border-radius: 0 25px 25px 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
}

.button_subscribe:hover {
  background-color: #f3f3f3;
}

.button_socialmedia {
  width: 32px;
  height: 32px;
  color: #222222;
  background-color: #fbfbfb;
  border: none;
  font-weight: normal;
  font-size: 15px;
  line-height: 32px;
  font-style: normal;
}

.button_socialmedia:hover {
  background-color: #F16D7F;
  color: #fbfbfb;
}

.button_add-item-to-cart {
  width: 123px;
  height: 39px;
  font-size: 16px;
  background-color: transparent;
  border-color: #FFFFFF;
}

.button_add-item-to-cart:hover {
  color: #FFFFFF;
  background-color: transparent;
  -webkit-box-shadow: 0 0 10px #FFFFFF;
          box-shadow: 0 0 10px #FFFFFF;
}

.button_browse-all {
  width: 211px;
  height: 47px;
  font-weight: normal;
  font-size: 16px;
  line-height: 47px;
  font-style: normal;
}

.button_cartpage {
  width: 225px;
  height: 50px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 50px;
  font-style: normal;
  color: #222222;
  background-color: transparent;
  border: 1px solid #a4a4a4;
}

.button_cartpage:hover {
  color: #FFFFFF;
  background-color: #222222;
}

.button_quote {
  width: 100px;
  height: 34px;
  font-weight: 300;
  font-size: 11px;
  line-height: 34px;
  font-style: normal;
  color: #4b4a4a;
}

.button_checkout {
  width: 275px;
  height: 50px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  line-height: 50px;
  font-style: normal;
}

.button_checkout:hover {
  background-color: #f3f3f3;
}

.button_add-product-to-cart {
  width: 211px;
  height: 47px;
}

.button_join {
  width: 167px;
  height: 50px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
}

.header {
  background-color: #222222;
}

.header-content {
  height: 75px;
}

.header-content__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-content__left > a:first-of-type {
  margin-right: 41px;
}

.header-content__left .search {
  padding-top: 5px;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}

.header-content__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-content__right > a {
  margin-right: 33px;
}

.header-content__right > a:last-of-type {
  margin-right: 0;
}

.header-content__search {
  position: relative;
}

.header-content__search:hover .search {
  visibility: hidden;
  opacity: 0;
  padding: 0;
  width: 0;
  height: 0;
}

.header-content__search:hover .search-form {
  visibility: visible;
  opacity: 1;
}

.header .cart {
  position: relative;
}

.header .cart:hover::after {
  content: '5';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  font-style: normal;
  text-align: center;
  color: #FFFFFF;
  background-color: #F16D7F;
}

.search-form {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}

.search-form .search-input {
  height: 40px;
  padding-left: 10px;
  border: 2px solid #F16D7F;
  border-radius: 5px 0 0 5px;
}

.search-form .search-button .search-icon {
  -webkit-transition: -webkit-filter 0.2s linear;
  transition: -webkit-filter 0.2s linear;
  transition: filter 0.2s linear;
  transition: filter 0.2s linear, -webkit-filter 0.2s linear;
}

.search-form .search-button:hover .search-icon {
  -webkit-filter: invert(60%) sepia(51%) saturate(3302%) hue-rotate(313deg) brightness(91%) contrast(107%);
          filter: invert(60%) sepia(51%) saturate(3302%) hue-rotate(313deg) brightness(91%) contrast(107%);
}

.menu-navigation {
  position: relative;
  z-index: 2;
}

.menu-navigation .menu {
  position: relative;
  margin-right: 33px;
  padding-top: 5px;
}

.menu-navigation .nav {
  width: 232px;
  height: 600px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
  position: absolute;
  background-color: #FFFFFF;
  -webkit-box-shadow: 5px 10px 20px rgba(10, 21, 34, 0.2);
          box-shadow: 5px 10px 20px rgba(10, 21, 34, 0.2);
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
}

.menu-navigation .nav-header {
  text-transform: uppercase;
  font-weight: 700;
  margin: 9px 0 0 33px;
}

.menu-navigation .nav-list, .menu-navigation .nav-list_ {
  list-style-type: none;
}

.menu-navigation .nav-list > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #F16D7F;
  display: inline-block;
  margin: 24px 0 0 33px;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.menu-navigation .nav-list > li > a:hover {
  color: #9f9f9f;
}

.menu-navigation .nav-list_ > li > a {
  text-decoration: none;
  text-transform: capitalize;
  color: #6F6E6E;
  display: inline-block;
  margin: 7px 0 7px 54px;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.menu-navigation .nav-list_ > li > a:hover {
  color: #9f9f9f;
}

.menu-navigation .nav-list_ > li > a:last-of-type {
  margin-bottom: 0;
}

.menu-navigation .nav .close {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 16px 16px 0 0;
  -webkit-transition: -webkit-filter 0.2s linear;
  transition: -webkit-filter 0.2s linear;
  transition: filter 0.2s linear;
  transition: filter 0.2s linear, -webkit-filter 0.2s linear;
}

.menu-navigation .nav .close:hover {
  -webkit-filter: brightness(119%);
          filter: brightness(119%);
}

.menu-navigation:hover .nav {
  visibility: visible;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.items {
  margin-top: 49px;
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.items .item {
  text-decoration: none;
  background-color: #f8f8f8;
}

.items .item-text {
  margin: 12px 16px 0 16px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  color: #5d5c5c;
}

.items .item-header {
  margin: 25px 0 0 16px;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  font-style: normal;
  color: #000;
}

.items .item-price {
  margin: 18px 0 20px 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  color: #F16D7F;
}

.items .item-box {
  width: 360px;
  margin-bottom: 30px;
  position: relative;
  -webkit-transition: -webkit-box-shadow 0.2s linear;
  transition: -webkit-box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}

.items .item-box .item-img {
  -webkit-transition: -webkit-filter 0.2s linear;
  transition: -webkit-filter 0.2s linear;
  transition: filter 0.2s linear;
  transition: filter 0.2s linear, -webkit-filter 0.2s linear;
}

.items .item-box:hover .item-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.items .item-box:hover .item-img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.items .item-box:hover {
  -webkit-box-shadow: 5px 10px 20px rgba(10, 21, 34, 0.2);
          box-shadow: 5px 10px 20px rgba(10, 21, 34, 0.2);
}

.items .item-cart {
  width: 100%;
  display: none;
  position: absolute;
  top: 150px;
}

.items .item-cart-add__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px;
}

.items .item-cart__add-txt {
  padding-left: 7px;
}

.information {
  margin-top: 95px;
  background-color: #222222;
}

.information-container {
  height: 341px;
  text-align: center;
  color: #fbfbfb;
}

.information-cell {
  max-width: 300px;
}

.information-header {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  margin-top: 20px;
}

.information-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  margin-top: 16px;
}

.footer-upper {
  position: relative;
  height: 448px;
  background: url("../image/footer-upper__bg.jpg") no-repeat center center;
}

.footer-upper__container {
  padding-top: 86px;
  position: relative;
  z-index: 2;
  text-align: center;
}

.footer-upper__container .review {
  max-width: 360px;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.54, 0.05, 1, 0.99);
  transition: -webkit-transform 1s cubic-bezier(0.54, 0.05, 1, 0.99);
  transition: transform 1s cubic-bezier(0.54, 0.05, 1, 0.99);
  transition: transform 1s cubic-bezier(0.54, 0.05, 1, 0.99), -webkit-transform 1s cubic-bezier(0.54, 0.05, 1, 0.99);
}

.footer-upper__container .review-text {
  margin-top: 30px;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  font-style: italic;
  color: #222222;
}

.footer-upper__container .review:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.footer-upper__container .subscription-header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  font-style: normal;
}

.footer-upper__container .subscription-text {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
}

.footer-upper__container .subscription-form {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-upper__container .subscription-form__input {
  width: 256px;
  height: 50px;
  background-color: #e1e1e1;
  border: none;
  border-radius: 25px 0 0 25px;
  padding-left: 22px;
  color: #222222;
  opacity: 0.67;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
}

.footer-upper__container .subscription-form__input:focus, .footer-upper__container .subscription-form__input:active, .footer-upper__container .subscription-form__input:hover {
  outline: 0;
  outline-offset: 0;
}

.footer-upper .footer-cover {
  position: absolute;
  background: rgba(244, 244, 244, 0.7);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer-lower {
  background-color: #222222;
}

.footer-lower__container {
  height: 80px;
}

.footer-lower__container .footer-lower__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  color: #fbfbfb;
}

.footer-lower__container .socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-lower__container .socialmedia__button {
  margin-right: 8px;
}

.footer-lower__container .socialmedia__button:last-of-type {
  margin-right: 0;
}

.catalog-head {
  background-color: #F8F3F4;
}

.catalog-header {
  height: 148px;
}

.catalog-header__heading {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  font-style: normal;
  color: #F16D7F;
}

.catalog-header .breadcrumbs-link {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  color: #636060;
}

.catalog-header .breadcrumbs-link:last-of-type {
  font-weight: 700;
  color: #F16D7F;
}

.filters {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters > details {
  position: relative;
  margin-right: 30px;
}

.filters > details:last-of-type {
  margin-right: 0;
}

.filters-summary {
  position: relative;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  color: #6F6E6E;
  list-style-type: none;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.filters-summary::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 2px;
  margin-left: 10px;
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-bottom: 2px solid #6F6E6E;
  border-right: 2px solid #6F6E6E;
}

.filters-summary:hover {
  color: #9f9f9f;
}

.filters-variants {
  position: absolute;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0.7em;
  list-style-type: none;
  background-color: #FFFFFF;
  -webkit-box-shadow: 5px 10px 20px rgba(10, 21, 34, 0.2);
          box-shadow: 5px 10px 20px rgba(10, 21, 34, 0.2);
  color: #6F6E6E;
}

.filters-variants .size-variant {
  text-transform: uppercase;
}

.filters-variants .trending-variant, .filters-variants .color-variant {
  text-transform: capitalize;
}

.custom-checkbox, .custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label, .custom-radio + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.custom-checkbox + label::before, .custom-radio + label::before {
  content: '';
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox + label::before {
  width: 12px;
  height: 12px;
  margin-right: 0.5em;
  border: 1px solid #ecebeb;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.custom-radio + label::before {
  width: 14px;
  height: 14px;
  margin-right: 10px;
  border-radius: 8px;
  border: 1px solid #a4a4a4;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.custom-checkbox:checked + label::before {
  border-color: #F16D7F;
  background-color: #F16D7F;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio:checked + label::before {
  border-color: #F16D7F;
  background-color: #F16D7F;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before, .custom-radio:not(:disabled):not(:checked) + label:hover::before {
  border-color: #ff647a;
}

/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active + label::before, .custom-radio:not(:disabled):active + label::before {
  background-color: #F8F3F4;
  border-color: #F8F3F4;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus + label::before, .custom-radio:focus + label::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(247, 121, 142, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(247, 121, 142, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked) + label::before, .custom-radio:focus:not(:checked) + label::before {
  border-color: #F1E4E6;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled + label::before, .custom-radio:disabled + label::before {
  background-color: #e9e9e9;
}

.introduction {
  background-color: #F1E4E6;
}

.introduction_ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introduction-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.introduction-text {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  font-style: normal;
  color: #222222;
  text-transform: uppercase;
}

.introduction-text__header {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  font-style: normal;
}

.introduction-text__fashion {
  color: #F16D7F;
}

.introduction .line {
  width: 12px;
  background-color: #F16D7F;
  margin-right: 16px;
}

.offers {
  padding-top: 65px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
}

.offers-part1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offers-part1 > a {
  height: 260px;
  width: 360px;
  position: relative;
  text-decoration: none;
  color: #FFFFFF;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.offers-part1 > a > p {
  position: relative;
  top: 40%;
  z-index: 2;
}

.offers-part1 > a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 1;
}

.offers-part2 {
  margin-top: 30px;
}

.offers-part2 > a {
  height: 180px;
  width: 100%;
  display: block;
  position: relative;
  text-decoration: none;
  color: #FFFFFF;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.offers-part2 > a > p {
  position: relative;
  top: 40%;
  z-index: 2;
}

.offers-part2 > a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.offers .cover {
  position: absolute;
  background: rgba(33, 22, 22, 0.7);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.offers-women {
  background: url("../image/offers-women.png") no-repeat center center;
  background-size: cover;
}

.offers-men {
  background: url("../image/offers-men.png") no-repeat center center;
  background-size: cover;
}

.offers-kids {
  background: url("../image/offers-kids.png") no-repeat center center;
  background-size: cover;
}

.offers-accesories {
  background: url("../image/offers-accesories.png") no-repeat center center;
  background-size: cover;
}

.offers-headtext {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  font-style: normal;
  color: #F16D7F;
}

.fetured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 96px;
}

.fetured-description {
  text-align: center;
}

.fetured-header {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  color: #222222;
}

.fetured-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  color: #9f9f9f;
}

.items__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: inline-block;
}

@-webkit-keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@-webkit-keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@-webkit-keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

@media (hover: hover) {
  .carousel__snapper {
    -webkit-animation-name: tonext, snap;
            animation-name: tonext, snap;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .product-carousel__item:last-child .carousel__snapper {
    -webkit-animation-name: tostart, snap;
            animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    -webkit-animation-name: none;
            animation-name: none;
  }
}

* {
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

.product-carousel {
  height: 777px;
  background-color: #f7f7f7;
  position: relative;
}

.product-carousel__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.product-carousel__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.product-carousel__item .d-block {
  position: relative;
  left: 26vw;
}

.product-carousel .carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

.product-carousel:hover .carousel__snapper,
.product-carousel:focus-within .carousel__snapper {
  -webkit-animation-name: none;
          animation-name: none;
}

.product-carousel::before, .product-carousel::after,
.product-carousel .carousel__prev,
.product-carousel .carousel__next {
  position: absolute;
  top: 388.5px;
  width: 47px;
  height: 47px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0;
  outline: 0;
}

.product-carousel::before,
.product-carousel .carousel__prev {
  left: 0;
}

.product-carousel::after,
.product-carousel .carousel__next {
  right: 0;
}

.product-carousel::before, .product-carousel::after {
  content: '';
  z-index: 1;
  background-color: rgba(42, 42, 42, 0.15);
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  pointer-events: none;
}

.product-carousel::before {
  background-image: url("../image/arrow-previous.svg");
}

.product-carousel::after {
  background-image: url("../image/arrow-next.svg");
  -webkit-filter: brightness(0) saturate(100%);
          filter: brightness(0) saturate(100%);
}

.product-information {
  position: relative;
  top: -50px;
  z-index: 1;
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid #f7f7f7;
}

.product-information__collection-header {
  margin-top: 64px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  color: #F16D7F;
}

.product-information__pink-line {
  margin-top: 12px;
  display: inline-block;
  width: 63px;
  height: 3px;
  background-color: #ef5a6f;
}

.product-information__header {
  margin-top: 12px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  color: #4e4d4d;
}

.product-information__description {
  display: inline-block;
  margin-top: 48px;
  width: 555px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  color: #605f5f;
}

.product-information__price {
  margin-top: 32px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  font-style: normal;
  color: #ef5a6f;
}

.product-information .color {
  width: 120px;
}

.product-information .color > ul {
  width: 120px;
}

.product-information .choose-size {
  width: 100px;
}

.product-information .choose-size > ul {
  width: 80px;
}

.product-information .quantity-input {
  width: 100px;
  position: absolute;
  left: 0px;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  background-color: #FFFFFF;
  border: none;
  -webkit-box-shadow: 5px 10px 20px rgba(10, 21, 34, 0.2);
          box-shadow: 5px 10px 20px rgba(10, 21, 34, 0.2);
  color: #6F6E6E;
}

.product-information__button-box {
  margin-top: 49px;
  margin-bottom: 65px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-information__add-cart {
  width: 26px;
  margin-right: 23px;
  -webkit-transition: -webkit-filter 0.2s linear;
  transition: -webkit-filter 0.2s linear;
  transition: filter 0.2s linear;
  transition: filter 0.2s linear, -webkit-filter 0.2s linear;
}

.product-information-add__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px;
}

.product-information-add__button:hover .product-information__add-cart {
  -webkit-filter: brightness(0) saturate(100%);
          filter: brightness(0) saturate(100%);
  -webkit-filter: invert(45%) sepia(55%) saturate(677%) hue-rotate(302deg) brightness(97%) contrast(93%);
          filter: invert(45%) sepia(55%) saturate(677%) hue-rotate(302deg) brightness(97%) contrast(93%);
}

.filters {
  margin-top: 65px;
  width: 100%;
}

.filters-product {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filters-variants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.filters {
  margin-top: 50px;
}

.filters .filter {
  width: 360px;
  margin-left: 15px;
  margin-right: 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  left: -15px;
  padding-left: 15px;
}

.filters .filter-summary {
  list-style-type: none;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.filters .filter-options {
  width: 100%;
  position: absolute;
  left: 0;
  padding-left: 15px;
  list-style-type: none;
  background-color: #FFFFFF;
  -webkit-box-shadow: 5px 20px 20px rgba(10, 21, 34, 0.2);
          box-shadow: 5px 20px 20px rgba(10, 21, 34, 0.2);
}

.filters .filter-option {
  margin-top: 18px;
}

.filters .filter-option:last-of-type {
  margin-bottom: 18px;
}

.filters .filter-option > span {
  display: inline-block;
  height: 37px;
  width: 326px;
  font-weight: normal;
  font-size: 14px;
  line-height: 37px;
  font-style: normal;
  padding-left: 11px;
  border-left: 5px solid #ee5b6f;
  border-bottom: 1px solid #ecebeb;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.filters .filter-option:hover span {
  color: #ee5b6f;
}

.filters .filter-option:hover .filter-items {
  display: block;
}

.filters .filter-items {
  list-style-type: none;
  display: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  text-transform: capitalize;
  margin-left: 34px;
}

.filters .filter-items > li:first-of-type {
  margin-top: 24px;
}

.filters .filter-item {
  margin-top: 11px;
}

.filters .filter-item > a {
  text-decoration: none;
  color: #6F6E6E;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.filters .filter-item > a:hover {
  color: #ee5b6f;
}

.filters .filter:hover .filter-summary, .filters .filter[open] .filter-summary {
  color: #ee5b6f;
}

.filters .filter:hover .filter-icon, .filters .filter[open] .filter-icon {
  -webkit-filter: invert(60%) sepia(51%) saturate(3302%) hue-rotate(313deg) brightness(91%) contrast(107%);
          filter: invert(60%) sepia(51%) saturate(3302%) hue-rotate(313deg) brightness(91%) contrast(107%);
}

.filters .filter[open] {
  -webkit-box-shadow: 5px 15px 20px rgba(10, 21, 34, 0.2);
          box-shadow: 5px 15px 20px rgba(10, 21, 34, 0.2);
}

.filters .filter-icon {
  margin-left: 12px;
  -webkit-transition: -webkit-filter 0.2s linear;
  transition: -webkit-filter 0.2s linear;
  transition: filter 0.2s linear;
  transition: filter 0.2s linear, -webkit-filter 0.2s linear;
}

.filters .trending {
  width: 120px;
}

.filters .trending > ul {
  width: 150px;
}

.filters .size {
  width: 40px;
}

.filters .size > ul {
  width: 80px;
}

.filters .price > ul {
  width: 120px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 43px;
  width: 283px;
  border: 1px solid #ecebeb;
}

[class^="catalog-page_"] {
  margin-right: 18px;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  color: #ecebeb;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.catalog-page_1 {
  color: #ee5b6f;
}

[class^="catalog-page_"]:hover {
  color: #ff647a;
}

.arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
}

.arrow:hover {
  border-color: #999999;
}

.arrow-previous {
  margin-right: 18px;
  border-bottom: 3px solid #000000;
  border-left: 3px solid #000000;
}

.arrow-previous:hover ~ .catalog-page_6 {
  color: #ee5b6f;
}

.arrow-previous:hover ~ .catalog-page_1 {
  color: #ecebeb;
}

.arrow-next {
  border-top: 3px solid #000000;
  border-right: 3px solid #000000;
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
}

.arrow-next:hover ~ .catalog-page_2 {
  color: #ee5b6f;
}

.arrow-next:hover + .catalog-page_1 {
  color: #ecebeb;
}

.cart-page {
  margin-block: 96px 129px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-page .cart-content {
  min-width: 652px;
}

.cart-page .cart-content-items {
  width: 100%;
}

.cart-page .cart-content__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 5px 10px 20px rgba(10, 21, 34, 0.2);
          box-shadow: 5px 10px 20px rgba(10, 21, 34, 0.2);
}

.cart-page .cart-content__item:first-of-type {
  margin-bottom: 40px;
}

.cart-page .cart-content__item-hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(33, 22, 22, 0.7);
  width: 100%;
  height: 100%;
}

.cart-page .cart-content__item-info {
  margin-top: 22px;
  width: 262px;
}

.cart-page .cart-content__item-info__header {
  margin-bottom: 42px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  font-style: normal;
  color: #222222;
}

.cart-page .cart-content__item-info__details {
  text-transform: capitalize;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  font-style: normal;
  color: #585757;
}

.cart-page .cart-content__item-info__details-price {
  color: #F16D7F;
}

.cart-page .cart-content__item-info__details-item {
  color: #6F6E6E;
}

.cart-page .cart-content__item-info__details > input {
  width: 44px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  text-align: center;
  padding-left: 10px;
  color: #6F6E6E;
  border: 1px solid #EBEBEB;
}

.cart-page .cart-content__item-close {
  margin-top: 28px;
  margin-right: 22px;
  width: 18px;
  height: 18px;
}

.cart-page .cart-content__item-close:hover ~ .cart-content__item-hover {
  display: block;
}

.cart-page .cart-content__buttons {
  margin-top: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-page .cart-info {
  margin-top: 21px;
}

.cart-page .cart-info__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-page .cart-info__adress-header {
  margin-bottom: 21px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  color: #222222;
}

.cart-page .cart-info__adress > input {
  height: 45px;
  margin-bottom: 21px;
  padding-left: 17px;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  font-style: normal;
  border: 1px solid #a4a4a4;
}

.cart-page .cart-info__adress > input::-webkit-input-placeholder {
  color: #222222;
}

.cart-page .cart-info__adress > input:-ms-input-placeholder {
  color: #222222;
}

.cart-page .cart-info__adress > input::-ms-input-placeholder {
  color: #222222;
}

.cart-page .cart-info__adress > input::placeholder {
  color: #222222;
}

.cart-page .cart-info__adress > input:first-of-type::-webkit-input-placeholder {
  color: #b1b0b0;
}

.cart-page .cart-info__adress > input:first-of-type:-ms-input-placeholder {
  color: #b1b0b0;
}

.cart-page .cart-info__adress > input:first-of-type::-ms-input-placeholder {
  color: #b1b0b0;
}

.cart-page .cart-info__adress > input:first-of-type::placeholder {
  color: #b1b0b0;
}

.cart-page .cart-info__checkout {
  margin-top: 58px;
  padding: 40px;
  width: 360px;
  background-color: #f3f3f3;
  text-align: right;
}

.cart-page .cart-info__checkout-sub {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  font-style: normal;
  color: #4b4a4a;
}

.cart-page .cart-info__checkout-header {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  color: #222222;
}

.cart-page .cart-info__checkout-grand {
  font-weight: 700;
  color: #F16D7F;
}

.cart-page .cart-info__checkout-hline {
  margin-block: 21px 17px;
  width: 275px;
  height: 1px;
  display: inline-block;
  background-color: #e3e2e2;
}

.cart-page .cart-info__checkout-button {
  width: 275px;
  height: 50px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  line-height: 50px;
  font-style: normal;
  color: #FFFFFF;
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  -webkit-transition: color 0.2s linear, background-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear;
}

.cart-page .cart-info__checkout-button:hover {
  background-color: #f3f3f3;
  color: #F16D7F;
}

.checkout {
  margin-block: 64px 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkout .registration, .checkout .loyalty {
  margin-inline: auto;
}

.checkout .registration {
  width: 360px;
}

.checkout .registration-heading {
  margin-bottom: 21px;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  color: #222222;
}

.checkout .registration-heading:last-of-type {
  margin-top: 35px;
}

.checkout .registration-input {
  display: block;
  width: 100%;
  height: 45px;
  margin-bottom: 21px;
  padding-left: 17px;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  font-style: normal;
  border: 1px solid #a4a4a4;
  color: #b1b0b0;
}

.checkout .registration-input:last-of-type {
  margin-bottom: 16px;
}

.checkout .registration-radio + label {
  text-transform: capitalize;
  margin-right: 20px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  font-style: normal;
}

.checkout .registration-passwordParametersText {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  font-style: normal;
  color: #b1b0b0;
}

.checkout .registration__button {
  margin-top: 40px;
}

.checkout .registration__button .registration-button__img {
  margin-left: 20px;
  -webkit-transition: -webkit-filter 0.2s linear;
  transition: -webkit-filter 0.2s linear;
  transition: filter 0.2s linear;
  transition: filter 0.2s linear, -webkit-filter 0.2s linear;
}

.checkout .registration__button:hover .registration-button__img {
  -webkit-filter: invert(60%) sepia(51%) saturate(3302%) hue-rotate(313deg) brightness(91%) contrast(107%);
          filter: invert(60%) sepia(51%) saturate(3302%) hue-rotate(313deg) brightness(91%) contrast(107%);
}

.checkout .loyalty {
  margin-left: 128px;
  width: 650px;
}

.checkout .loyalty-heading, .checkout .loyalty-text, .checkout .loyalty-list {
  margin-bottom: 21px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  font-style: normal;
}

.checkout .loyalty-heading {
  text-transform: uppercase;
}

.checkout .loyalty-list {
  margin-left: 25px;
  list-style-type: none;
  list-style-image: url("../image/list-img.svg");
}

.checkout .loyalty-item {
  margin-bottom: 16px;
  padding-left: 23px;
}

.checkout .loyalty-item:last-of-type {
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */